# Default ignored files
/shelf/
/workspace.xml
/target/
/output/
/input/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/